body{
    margin: 0;
    padding: 0;
    background-color: lightblue;

}

.navbar{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-evenly;
    
    background-color:brown;
    color: white;
    margin-top: 0%;
}
.div{
    display: flex;
    gap: 20px;
    margin-left: 800px;
    text-align: right;
    align-items: center;

}
.log-sign{
    color:white; 
    border: 2px solid darkorange;
    padding-bottom: 0px;
    margin: 10px;
    border-radius: 40px;
    padding: 10px;
}



       

            /* SIGNUP */

  #signupbox{
            text-align: center;
           background-color: lightcyan;
            width: 250px;
           
            margin: auto;
           margin-top: 50px;
            
            padding: 50px;
            border: 3px double black;
            border-radius: 20px;

        }
       
 #btn{
            border-radius: 8px ;
            background-color: lightblue;
            color: rgb(10, 6, 30);
        }


#secadmin{
    text-align: center;
     margin: auto;
     margin-top: 50px;
     padding: 60px;
    border: 3px solid red;
    width: fit-content;
    height: fit-content;
    background-color: bisque;
    border-radius: 20px;
}

#img{
    height: 85vh;
    width: 100%;
}


#foot{
    width: 100%;
    background-color: darkslategray;
    color: white;
    text-align: center;
    height: 20vh;
}
.imgfoot{
    width: 5vh;
    border: 1px solid black;
    border-radius: 2.5vh;
    margin: 2vh;
}


        /* ADMINPAGE */

#sec{
    background-color: yellow;
    font-style: oblique;
}

#cards{
    margin-right: 60px;
}

.card{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
     margin: 50px;
    width: 100%;
     align-content: center;
    height: 50vh;
    text-align: center;
    padding: 10px;
    text-decoration: underline;


}
.imgcard1{
    height: 40vh;
    border: 5px solid goldenrod;
    border-radius: 5vh;
    line-height: 5vh;
    
}

.cardbtn{
    border: 4px solid red;
    border-radius: 20px;
    color: black;
    margin: 10px;
    padding: 8px;
    background-color: lightseagreen;
}


            /* cards in mainpage */

#cardsec{
    display: flex;
     height: 50vh;
     align-items: center;
     justify-content: space-around;
}

.carddiv{
    height: 400px;
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
    color: brown;
}
.imgcard{
    height: 200px;
    border-radius: 10vh;
}
.bn{
    border: 2px solid black;
    border-radius: 10px ;
    background-color: yellow;
}

            /* LOGINPAGE LOCALUSER */
        /* ADMINLOG -loginpage*/

.usrlog{
    background-color: rgb(247, 219, 224);
    border-radius: 20px;
    width: 25%;
    text-align: center;
    margin-left: 75vh;
    margin-top: 8vh;
    height:50vh;
   font-style: oblique;
   text-decoration: underline;
   font-weight: bold;
    padding-top: 10vh;
    
}
.logbtn{
    width: 20vh;
    padding: 1vh;
    font-size: 2vh;
    border-radius: 20px;
    background-color: darkcyan;
}


                    /* Localuser page */

#textonpage{
    font-style: italic;
    color: red;
}

.datatable{
       width: 80%;
       /* border-collapse : 10vh; */
       text-align: center;
       padding: 10px;
       margin-left: 20vh;
}
th{
   background-color: #f2f2;
}

#deletebtn{
    margin: 10px;
    width: 50px;
    border-radius: 10px;
    background-color: red;
    color: white;
}

.editbtn{
   padding: 2px;
   margin: 2px;
   border-radius: 5px;
   background-color: greenyellow;
   color: brown;
   
}
#editform{
    border: 2px solid black;
    width: 300px;
    height: 350px;
    text-align: center;
    text-decoration: underline;
    background-color: white;
    margin: auto;
    border-radius: 20px;
}

#REGISTERFORM{
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 10vh;
    background-color: white;
    text-align: center;
    font-style: italic;
    border-radius: 80px;
}

                    /* Responsivness */

@media  screen and (max-width:700px){
    .div{
        margin-left: 0;
    }
   .datatable{
    margin: 0;
    padding: 0;
   
   }

}