body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-around;
    
    background-color: blue;
    color: white;
    margin-top: 0%;
}
.div{
    display: flex;
    gap: 10px;
    align-items: center;
}